:root {
  --osm-colourway-primarycolour: #c000FF;
  --osm-colourway-primarycolour-bright: #c000FF;
  --osm-colourway-primarycolour-dim: #c000FF;
}

body {
  background-image: radial-gradient(
    #1c171f, #171717
  );
}

body::before{
  background: repeating-linear-gradient(
    transparent 0.0px, 
    #20202040 0.05vw, 
    #20202040 0.05vw, 
    transparent 0.10vw, 
    transparent 0.30vw);
}
 
p,
code,
pre,
h1,
h2,
h3,
div,
a,
summary,
details { 
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
  text-decoration-color: #c000FF; 
}

b {
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
}

mark{
  color:#202020;
  background-color: #c000FF;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
}

textarea {
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;

  background-color: transparent;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
  border-color:#c000FF;
}

button { 
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
  background-color: transparent;
  border-color: #c000FF;
}

a:hover,
a:focus,
summary:focus,
summary:hover,
input:focus,
input:hover
textarea:focus,
textarea:hover,
button:not([disabled]):focus,
button:not([disabled]):hover {
  /*focus for tabindex navigation*/
  color:#202020;
  background: #c000FF;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
}

textarea:hover,
textarea:focus {
  /*focus for tabindex navigation*/
  outline: none;
  color:#202020;
  background: #c000FF;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
}


a:active,
button:active {
  color:#c000FF;
  text-shadow: 0 0 0.3vw #c000FF;
  border-color: #c000FF;
}

/*selection, apparently*/

::selection {
  background: #c000FF;
  color:#202020;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
}

/*classes*/
.blink,
.blink-fast,
.blink-slow{
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
}

.blink-marked{
  color:#202020;
  background-color: #c000FF;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #c000FF, inset 0 0 0.3vw #c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
}

.content,
.display {
  color:#c000FF;
  text-shadow: 0 0 0.2vw #c000FF;
}

@keyframes blinker-mark {
  0% { background-color:#20202000; color:#c000FF;}
  1% { background-color: #c000FF; color:#202020;}
  40% { background-color: #c000FF; color:#202020;}
  51% { background-color:#20202000; color:#c000FF;}
  100% { background-color:#20202000;color:#c000FF;}
}

@keyframes blinker-mark-invert {
  0% { background-color:#c000FF; color:#202020;}
  1% { background-color: #20202000; color:#c000FF;}
  50% { background-color: #20202000; color:#c000FF;}
  51% { background-color:#c000FF; color:#202020;}
  100% { background-color:#c000FF;color:#202020;}
}