:root {
  --osm-colourway-primarycolour: #ffb000;
  --osm-colourway-primarycolour-bright: #ffb000;
  --osm-colourway-primarycolour-dim: #ffb000;
}

body {
  background-image: radial-gradient(
    rgb(44, 41, 33), rgb(33, 33, 33)
  );
}

body::before{
  background: repeating-linear-gradient(
    transparent 0.0px, 
    #20202040 0.05vw, 
    #20202040 0.05vw, 
    transparent 0.10vw, 
    transparent 0.30vw);
}
 
p,
code,
pre,
h1,
h2,
h3,
div,
a,
summary,
details { 
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
  text-decoration-color: #ffb000; 
}

b {
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
}

mark{
  color:#202020;
  background-color: #ffb000;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb000, inset 0 0 0.3vw #ffb000;
}

textarea {
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;

  background-color: transparent;
  box-shadow:  0 0 0.3vw #ffb000, inset 0 0 0.3vw #ffb000;
  border-color:#ffb000;
}

button { 
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
  background-color: transparent;
  border-color: #ffb000;
}

a:hover,
a:focus,
summary:focus,
summary:hover,
textarea:focus,
textarea:hover,
button:not([disabled]):focus,
button:not([disabled]):hover {
  /*focus for tabindex navigation*/
  color:#202020;
  background: #ffb000;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw hsl(41, 100%, 50%), inset 0 0 0.3vw #ffb000;
}

textarea:hover,
textarea:focus {
  /*focus for tabindex navigation*/
  outline: none;
  color:#202020;
  background: #ffb000;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #ffb000, inset 0 0 0.3vw #ffb000;
}


a:active,
button:active {
  color:#ffb000;
  text-shadow: 0 0 0.3vw #ffb000;
  border-color: #ffb000;
}

/*selection, apparently*/

::selection {
  background: #ffb000;
  color:#202020;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb000, inset 0 0 0.3vw #ffb000;
}

/*classes*/
.blink,
.blink-fast,
.blink-slow{
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
}

.blink-marked{
  color:#202020;
  background-color: #ffb000;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb000, inset 0 0 0.3vw #ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
}

.content,
.display {
  color:#ffb000;
  text-shadow: 0 0 0.2vw #ffb000;
}

@keyframes blinker-mark {
  0% { background-color:#20202000; color:#ffb000;}
  1% { background-color: #ffb000; color:#202020;}
  40% { background-color: #ffb000; color:#202020;}
  51% { background-color:#20202000; color:#ffb000;}
  100% { background-color:#20202000;color:#ffb000;}
}

@keyframes blinker-mark-invert {
  0% { background-color:#ffb000; color:#202020;}
  1% { background-color: #20202000; color:#ffb000;}
  50% { background-color: #20202000; color:#ffb000;}
  51% { background-color:#ffb000; color:#202020;}
  100% { background-color:#ffb000;color:#202020;}
}