:root {
  --osm-colourway-primarycolour: #00F0B0;
  --osm-colourway-primarycolour-bright: #00F0B0;
  --osm-colourway-primarycolour-dim: #00F0B0;
}

body {
  background-image: radial-gradient(
    #212c29, #212121
  );
}

body::before{
  background: repeating-linear-gradient(
    transparent 0.0px, 
    #20202040 0.05vw, 
    #20202040 0.05vw, 
    transparent 0.10vw, 
    transparent 0.30vw);
}
 
p,
code,
pre,
h1,
h2,
h3,
div,
a,
summary,
details { 
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
  text-decoration-color: #00F0B0; 
}

b {
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
}

mark{
  color:#202020;
  background-color: #00F0B0;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
}

textarea {
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;

  background-color: transparent;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
  border-color:#00F0B0;
}

button { 
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
  background-color: transparent;
  border-color: #00F0B0;
}

a:hover,
a:focus,
summary:focus,
summary:hover,
input:focus,
input:hover
textarea:focus,
textarea:hover,
button:not([disabled]):focus,
button:not([disabled]):hover {
  /*focus for tabindex navigation*/
  color:#202020;
  background: #00F0B0;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
}

textarea:hover,
textarea:focus {
  /*focus for tabindex navigation*/
  outline: none;
  color:#202020;
  background: #00F0B0;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
}


a:active,
button:active {
  color:#00F0B0;
  text-shadow: 0 0 0.3vw #00F0B0;
  border-color: #00F0B0;
}

/*selection, apparently*/

::selection {
  background: #00F0B0;
  color:#202020;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
}

/*classes*/
.blink,
.blink-fast,
.blink-slow{
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
}

.blink-marked{
  color:#202020;
  background-color: #00F0B0;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #00F0B0, inset 0 0 0.3vw #00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
}

.content,
.display {
  color:#00F0B0;
  text-shadow: 0 0 0.2vw #00F0B0;
}

@keyframes blinker-mark {
  0% { background-color:#20202000; color:#00F0B0;}
  1% { background-color: #00F0B0; color:#202020;}
  40% { background-color: #00F0B0; color:#202020;}
  51% { background-color:#20202000; color:#00F0B0;}
  100% { background-color:#20202000;color:#00F0B0;}
}

@keyframes blinker-mark-invert {
  0% { background-color:#00F0B0; color:#202020;}
  1% { background-color: #20202000; color:#00F0B0;}
  50% { background-color: #20202000; color:#00F0B0;}
  51% { background-color:#00F0B0; color:#202020;}
  100% { background-color:#00F0B0;color:#202020;}
}