:root {
  --osm-colourway-primarycolour: rgb(100, 100, 100);
}

/*This is a comment*/


body {
  /*background-color: #ffffff;*/
  /*background-color: #202020;*/
  /*background-image: radial-gradient(
    #2a2820, #202020
  );*/
  background-image: radial-gradient(
    rgb(33, 33, 33), rgb(33, 33, 33)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  width: 92vw;
  height: 80vh;
  border: 1px solid transparent;
  margin-left: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-right: 2vw;

  cursor: crosshair;
}


body::before{
  position: fixed;
  content: '';
  width: 102vw;
  height: 100vh;
  margin-left: -2vw;
  pointer-events: none;
  background-attachment: fixed;
  background: repeating-linear-gradient(
    transparent 0.0px, 
    #20202040 0.05vw, 
    #20202040 0.05vw, 
    transparent 0.10vw, 
    transparent 0.30vw);
}

actions,
size {
  display: none;
}

/*
* {
  font-family: "Noto Sans Mono", "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Music", "Noto Sans SignWriting", "Noto Emoji", "Noto Sans Math", "Noto Color Emoji", Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
 }
*/

* {
  font-family: "Noto Sans Mono", "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Music", "Noto Sans SignWriting", "Noto Emoji", "Noto Sans Math", "Noto Color Emoji";
  font-size: 2vw;
  line-height: 2.6vw;
 }

h1 { 
  font-weight: bold;
  text-decoration-line: none;
  margin-left: 2vw;
}
h2 { 
  font-weight: normal;
  text-decoration-line: underline;
  margin-left: 2vw;
}
h3 { 
  font-weight: bold;
  text-decoration-line: none;
  margin-left: 1vw;
}

p,
code,
pre,
h1,
h2,
h3 { 
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}

div{
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;}


mark{
  color:#202020;
  background-color: #ffb00000;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
  cursor:context-menu;
}

a {
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  text-decoration: none; /*link underline*/
  text-decoration-color: #ffb00000; 
  text-decoration-style: dashed; 
  cursor:none;
}


summary {
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
  cursor:none;
}

details {
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}
details > summary {
  list-style-type: '';
}
details[open] > summary {
  list-style-type: '';
}

textarea {
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;

  background-color: transparent;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
  /*width: 100%;*/
  /*height: 150px;*/
  padding: 0px 0px;
  box-sizing: border-box;
  border: 0.5vw solid #ffb00000;
  border-radius: 0px;
  font-size: 2vw;
  resize: none;
  cursor: none;
}

button { 
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;

  background-color: transparent;
  /*box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;*/

  border-style: none;
  border-color: #ffb00000;
  

  text-decoration: none;
  display: inline-block;
  
  cursor: none;
  margin: none;
  padding: 0 0;
}


a:hover,
a:focus,
summary:focus,
summary:hover,
input:focus,
input:hover
textarea:focus,
textarea:hover,
button:not([disabled]):focus,
button:not([disabled]):hover {
  /*focus for tabindex navigation*/
  outline: none;
  color:#202020;
  background: #ffb00000;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
}


a:hover,
a:focus {
text-decoration: none; /*remove link underline*/
outline: none;
}

textarea:hover,
textarea:focus {
  /*focus for tabindex navigation*/
  outline: none;
  color:#202020;
  background: #ffb00000;
  text-shadow: 0 0 0.2vw #202020;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
}


a:active,
button:not([disabled]):active {
  box-shadow:  none;
  background-color: transparent;
  color:#ffb00000;
  text-shadow: 0 0 0.3vw #ffb00000;
  border: 10px;
  outline: 10px;
  border-style: thick;
  border-color: #ffb00000;
}

button:disabled{
  cursor:context-menu;
}

/*selection, apparently*/

::selection {
  background: #ffb00000;
  color:#202020;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
}



/*classes*/

.blink-fast{
  animation: blinker 0.33s linear infinite;
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}

.blink{
  animation: blinker 0.5s linear infinite;
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}

.blink-slow{
  animation: blinker 1s linear infinite;
  color:#ffb00000;
 text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}

.blink-invert{
  animation: blinker-invert 0.5s linear infinite;
  color:#202020;
  background-color: #ffb00000;
  text-shadow: 0 0 0.3vw #202020;
  box-shadow:  0 0 0.3vw #ffb00000, inset 0 0 0.3vw #ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}

@keyframes blinker {
  0% { opacity: 1;}
  5% { opacity: 0;}
  45% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 1;}
}

@keyframes blinker-invert {
  0% { color:#202020;}
  5% { color: #ffb00000;}
  45% { color: #ffb00000;}
  50% { color:#202020;}
  100% { color:#202020;}
}



.centerfixed{
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.noscrollbody {
  margin: 0; 
  height: 100vh; 
  width: 100vb; 
  overflow: hidden;
}

.content,
.display {
  color:#ffb00000;
  text-shadow: 0 0 0.2vw #ffb00000;
  cursor:context-menu;
}