
/*This is a comment*/

body {
  /*background-color: #ffffff;*/
  background-color: #202020;
  background-image: radial-gradient(
    #2a2820, #202020
  );
  
  width: 100vw;
  height: 100vh;
  border: 1px solid transparent;
  
}

body::before{
  position: absolute;
  content: '';
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: repeating-linear-gradient(
    transparent 0.0px, 
    #20202040 0.5px, 
    #20202040 0.5px, 
    transparent 1.0px, 
    transparent 3px);
}


h1 { 
  font-size: 2vw;
  font-family: 1.3rem Inconsolata, monospace;
  color:#ffb000;
  text-shadow: 0 0 2px #ffb000;
  cursor:context-menu;
}

p { 
  font-size: 2vw;
  font-family: 1.3rem Inconsolata, monospace;
  color:#ffb000;
  text-shadow: 0 0 2px #ffb000;
  cursor:context-menu;
  overflow: hidden;
  white-space: pre-wrap;
}

a {
  font-size: 2vw;
  font-family: 1.3rem Inconsolata, monospace;
  color:#202020;
  background: #ffb000;
  text-shadow: 0 0 2px #202020;
  box-shadow: 0 0 2px #ffb000;
  cursor:crosshair;
  text-decoration: none; /*remove link underline*/
}

textarea {
  font-size: 2vw;
  font-family: 1.3rem Inconsolata, monospace;
  color:#ffb000;
  font-family: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 2px #ffb000;

  background-color: transparent;
  box-shadow: 0 0 2px #ffb000;
  /*width: 100%;*/
  /*height: 150px;*/
  padding: 12px 20px;
  box-sizing: border-box;
  border: 7px solid #FFB000;
  border-radius: 0px;
  font-size: 16px;
  resize: none;
  cursor:crosshair;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*classes*/

.blink{
  font-size: 2vw;
  animation: blinker 1s linear infinite;
  color:#FFB000;
  font-family: "Lucida Console", "Courier New", monospace;
  text-shadow: 0 0 2px #ffb000;
  cursor:context-menu;
}

@keyframes blinker {
  0% { opacity: 1;}
  25% { opacity: 0;}
  50% { opacity: 0;}
  75% { opacity: 1;}
  100% { opacity: 1;}
}

/*selection, appaerntly*/

::selection {
  background: #FFB000;
  color:#202020;
  text-shadow: none;
}


