
@font-face {
	font-family: 'IBM PLEX MONO';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'IBM PLEX MATH';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('IBMPlexMath-Regular.woff2') format('woff2');
}
